@font-face {
    font-family: Roboto;
    src: url('Roboto-Regular.woff') format('woff');
}
@font-face {
    font-family: Fashion;
    src: url('Fashion-Fetish-Regular.woff') format('woff');
}

body {
    background-color: rgb(238, 238, 238)
}

/*-------Navegador------*/

.menu {
    max-width: 80%;
    margin-left: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav li{
    font-family: 'Roboto';
    font-size: 1.5em;
    list-style: none;
    display: inline-block;
    color: rgb(82, 106, 136);
    margin-left: 70px;
    padding-left: 70px;
    border-left: 2px solid rgb(164, 156, 187);
}

.nav li:first-child {
    border-left: 0px;
}

/*-------Foto fondo flexi------*/

.fondo-flexi {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.fondo-flexi img {
    width: 80%;
    height: auto;
}


h3 {
    font-family: 'Fashion';
    font-size: 2em;
    color: rgb(164, 156, 187);
    text-align: center
}

h4 {
    font-family: 'Roboto';
    font-size: 1.5em;
    color: rgb(164, 156, 187);
}

p {
    font-family: 'Roboto';
    font-size: 1.2em;
}

.descripcion {
    margin-left: 10%;
    max-width: 80%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 1%;
}

.descripcion img {
    width: 100px;
    height: 100px;
}

.texto {
    font-family: 'Roboto';
    font-size: 1.1em;
    max-width: 30%;
}

/*-------Portfolio------*/

.portfolio {
    margin-left: 10%;
    max-width: 80%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
}

.port img {
    border-radius: 50%;
    max-width: 250px;
    min-height: 250px;
}

/*-------Footer------*/

.footer {
    background-color: rgb(82, 106, 136);
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 2.5%;
}

h2 {
    font-family: 'Fashion';
    font-size: 1.2em;
    color: rgb(164, 156, 187);
}

.footer h3 {
    color: rgb(164, 156, 187);
}
.footer p {
    color: white;
}

/*-------Media-------*/

@media screen and (max-width: 800px) {
    .nav li {
        font-size: 1em;
        border-left: none;
        padding: 2%;
    }
    .menu {
        border-bottom: 2px solid rgb(82, 106, 136);
    }
}

