@font-face {
    font-family: Roboto;
    src: url('Roboto-Regular.woff') format('woff');
}
@font-face {
    font-family: Fashion;
    src: url('Fashion-Fetish-Regular.woff') format('woff');
}

body {
    background-color: rgb(238, 238, 238)
}

.menu {
    max-width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav li{
    font-family: 'Roboto';
    font-size: 1.5em;
    list-style: none;
    display: inline-block;
    color: rgb(82, 106, 136);
    margin-left: 70px;
    padding-left: 70px;
    border-left: 2px solid rgb(164, 156, 187);
}

.nav li:first-child {
    border-left: 0px;
}

/* FIN DEL NAV COMIENZO DEL BODY*/

h3 {
    font-family: 'Fashion';
    font-size: 1.5em;
    color: rgb(164, 156, 187);
}

.fotos {
    height: auto;
}

span {
    font-family: 'Roboto';
    font-size: 1.4em;
    color: black;
}


















/*  FIN DEL BODY COMIENZO DEL FOOTER  */
.footer {
    background-color: rgb(82, 106, 136);
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 2.5%;
}

p {
    font-family: 'Roboto';
    font-size: 1.2em;
    color: white;
}